<mat-card class="profile-card">
    <mat-card-title style="margin-bottom: 20px">Profile</mat-card-title>
    <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" name="username" value="{{username}}">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" value="{{email}}">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
    </mat-card-content>
</mat-card>