:host {
    display: block;
    outline: none;
}

:host .mat-list-item.active {
    background-color: mat-color(#3f51b5, 50);
}

:host:hover>.mat-list-item:not(.expanded),
:host:focus>.mat-list-item:not(.expanded) {
    background-color: mat-color(#3f51b5, 100) !important;
}

.mat-list-item {
    padding: 8px 0;
}

.mat-list-item .routeIcon {
    margin-right: 20px;
}