<section>
    <mat-card class="login-card">
        <mat-card-title style="margin-bottom: 25px;">
            Login
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="loginForm" class="login-form">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="text" name="email" formControlName="email">
                    <div class="validation-message" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.errors.email && loginForm.controls.email.touched">
                        Please enter a valid email address.
                      </div>
                      <div class="validation-message" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.errors.required && loginForm.controls.email.touched">Email
                        is required.
                      </div>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" name="password" formControlName="password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary" [disabled]="!loginForm.valid">LOGIN</button>
        </mat-card-actions>
        <div class="row mb-4 px-3">
            <span class="font-weight-bold">Don't have an account? <a class="register-text" [routerLink]="['/register']"
                    routerLinkActive="router-link-active">Register</a>
            </span>
        </div>
        <div class="error-message">
            {{loginErrorMessage}}
        </div>
        <div class="success-message">
            {{loginSuccessMessage}}
        </div>
    </mat-card>
</section>