.mat-drawer-content {
    margin-right: 0px !important;
}

.toolbar {
    top: 0;
    position: fixed !important;
    z-index: 999;
}

.sidenav {
    width: 220px;
    box-shadow: none !important;
    margin-top: 64px !important;
    position: fixed !important;
}

.menu-spacer {
    flex: 1 1 auto;
}

.account-icon {
    color: white !important;
    font-size: 2em !important;
}

.layout-container-body {
    height: 100%; 
    margin-top: 64px;
}