<mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="toggleSideNav()">menu</mat-icon>
        </button>
        <h1>Company Logo</h1>
        <span class="menu-spacer"></span>
        <section>

            <button [matMenuTriggerFor]="menu" mat-icon-button color="primary">
                <mat-icon class="account-icon">account_circle_outline<</mat-icon>
              </button>
        </section>
    </mat-toolbar-row>
</mat-toolbar>

<div class="logout-menu">
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</div>

<mat-sidenav-container [hasBackdrop]="false" autosize>
    <mat-sidenav #sidenav #sidenav [mode]="mode" disableClose="true" opened="true" class="sidenav">
        <mat-nav-list>
            <app-sidemenu></app-sidemenu>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="layout-container-body">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>