.content-card {
    margin: 0 auto;
    width: 90%;
    margin-top: 8%;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: auto;
    text-align: center !important;
}