<mat-card class="content-card">
    <mat-card-title style="margin-bottom: 20px">Content</mat-card-title>
    <mat-card-content>
        <form [formGroup]="contentForm">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" name="title" formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Author</mat-label>
                <input matInput placeholder="Author" name="author" formControlName="author">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div style="margin-bottom: 20px;">
                <label class="file">
                    <input type="file" id="file" aria-label="File browser example">
                    <span class="file-custom"></span>
                </label>
                <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="uploadFile()">Upload
                    File</button>
            </div>
            <button mat-raised-button color="primary" (click)="create()" [disabled]="!contentForm.valid">Create
                Content</button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card class="content-card">
    <mat-card-title style="margin-bottom: 20px">Content Details</mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                    <td mat-cell *matCellDef="let row"> {{row.title}} </td>
                </ng-container>

                <!-- Author Column -->
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
                    <td mat-cell *matCellDef="let row"> {{row.author}} </td>
                </ng-container>

                <!-- Category Column-->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                    <td mat-cell *matCellDef="let row"> {{row.categoryId}} </td>
                </ng-container>

                <!-- File Column -->
                <ng-container matColumnDef="file">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
                    <td mat-cell *matCellDef="let row">{{row.file_name}}</td>
                </ng-container>

                <!-- File Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="delete(row.id)"
                            aria-label="Example icon button with a open in new tab icon">
                            <mat-icon>delete</mat-icon>
                        </button></td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data Available</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>