<section>
    <mat-card class="register-card">
        <mat-card-title style="margin-bottom: 25px;">
            Register
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="registerForm" class="register-form">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" type="text" name="username" formControlName="username">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="email" name="email" formControlName="email">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" name="password" formControlName="password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="register()" color="primary" [disabled]="!registerForm.valid">REGISTER</button>
        </mat-card-actions>
        <div class="row mb-4 px-3">
            <span class="font-weight-bold">Already have an account? <a class="login-text" [routerLink]="['/login']"
                    routerLinkActive="router-link-active">Login</a>
            </span>
        </div>
    </mat-card>
</section>