.register-card {
    margin: 0 auto;
    width: 30%;
    margin-top: 5%;
    text-align: center;
    padding: 5% 0;
}

.register-form {
    padding: 0 10%;
}

.full-width {
    width: 100%;
}

.login-text {
    text-decoration: none;
}