/* You can add global styles to this file, and also import other style files */

html, body { background-color: whitesmoke; }
body {
    margin: 0;
    background-color: whitesmoke;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-message {
    width: 100%;
    margin-top: 0.50rem;
    font-size: 90%;
    font-weight: 500;
    font-style: italic;
    color: green;
    text-align: center;
}

.error-message {
    width: 100%;
    margin-top: 0.50rem;
    font-size: 90%;
    font-weight: 500;
    font-style: italic;
    color: red;
    text-align: center;
}

.validation-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 90%;
    font-weight: 500;
    font-style: italic;
    color: #f86c6b;
}

.full-width {
    width: 100%;
}

.width-50 {
    width: 50%;
}